doctype html
html 
    head 
        title Dipanshu's Dance Academy
        style
            include ../static/style.css
    body 
        nav#navbar.top.firstClass.secondClass 
            ul
                a(href="/")     
                    #logo
                        img(src="/static/img/logo.png")
                        | DDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/") Contact Us]

        section#introSection
            div Welcome to Dipanshu's Dance Academy
            div.small Eat Dance Sleep Repeat 
        
        section#missionSection 
            h2 Our Mission
            .card
                h3 Dance Perfection 
                .card-box
                    .card-img 
                        img(src="/static/img/1.png")
                    .card-content 
                        p This is the best dance academy of the universe
            .card 
                h3 Dance the way you like 
                .card-box
                    .card-img 
                        img(src="/static/img/2.png")
                    .card-content 
                        p This is the best dance academy of the universe
            .card 
                h3 Expert Teaching
                .card-box
                    .card-img 
                        img(src="/static/img/3.png")
                    .card-content 
                        p This is the best dance academy of the universe

        section#sponsorSection 
            h2  Our Sponsors
            #sponsors 
                img(src="/static/img/sponsor_logo_apple.png", alt="Apple Sponsor Image" class="spImage")
                img(src="/static/img/sponsor_logo_hp.png", alt="HP Sponsor Image" class="spImage")
                img(src="/static/img/sponsor_logo_skype.png", alt="Skype Sponsor Image" class="spImage")
                img(src="/static/img/sponsor_logo_microsoft.png", alt="Microsoft Sponsor Image" class="spImage")

        footer#footer
            | Copyright &#169; 2023 DDA.com | All rights reserved 

        script 
            include ../static/index.js  