doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MongoDB | Introduction 
        style 
            include ../static/style.css
    body 
        nav#nav 
            h1 Introduction to MongoDB

        block topic_content

        footer#foot 
             

        script(src="/static/base.js") 
        block script  